.container {
  text-align: center;
  margin-top: 23px;
}
table {
  margin: auto;
}

input {
  border: 5px solid rgb(78, 74, 74);
  font-size: 34px;
}
button {
  font-size: 40px;
  background: rgb(137, 158, 151);
  width: 103px;
  height: 58px;
}
